span.square {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	border: 1px solid #208ddc;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 -1px -1px 0;
	padding: 2px;
}

span.square.empty {
	cursor: pointer;
}

div.row {
	clear: both;
}

span.square.player1 {
	background-image: url('player1.jpg') !important;
}
span.square.hover-player1:hover {
	background-image: url('player1.jpg');
}

span.square.player2 {
	background-image: url('player2.jpg') !important;
}
span.square.hover-player2:hover {
	background-image: url('player2.jpg');
}

#gameState {
	height:50px;
	border: 2px solid black;
	margin-bottom: 10px;
}